html{
    width:100%;
    height:100%;
}

body{
    width:100%;
    height:100%;
    margin:0;
    
}

#navigation{
    
    background-color: yellow;
    padding:0.5%;
    height:4%;
   
}

#header{
    background-color: pink;
    height:20%;
    padding-top:0.5%;
    padding-left:0.5%
}

#slidebar{
    float:left;
    background-color: powderblue;
    width:33%;
    padding-top:0.5%;
    padding-left:0.5%;
    height:50%;
}

#main{
    float:left;
    background-color: lime;
    width:66%;
    padding-top:0.5%;
    padding-left:0.5%;
    height:50%;
}

#aside1{
    float:left;
    background-color: lightsalmon;
    width:33%;
    padding-top:0.5%;
    padding-left:0.5%;
    height:15%;
}

#aside2{
    float:left;
    background-color: lightgreen;
    width:33%;
    padding-top:0.5%;
    padding-left:0.5%;
    height:15%;
}

#aside3{
    float:left;
    background-color: lightsteelblue;
    width:32.5%;
    padding-top:0.5%;
    padding-left:0.5%;
    height:15%;
}

#footer{
    padding-left:0.5%;
    padding-top:0.5%;
    clear:both;
    background-color: green;
    height:5%;
   
}
@Media (max-width: 1024px) {
    #aside1,#aside2,#aside3{
        width:100%;
    }
}

